<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Slider</title>
</head>
<body>
    
    <div id="app">
        <div class="container">
                <div class="items" @mouseenter="stopSlider">
                    <div class="item" v-for="(image, index) in images" v-show="indexCount === index">
                        <img :src="image.image">
                        <div class="content">
                            <h1>{{image.title}}</h1>
                            <p>{{image.text}}</p>
                        </div>
                    </div>
                </div>
                <div class="thumbs">
                    <div class="thumb" v-for="(image, index) in images" @click="selectThumb(index)">
                        <img :src="image.image">
                    </div>
                    <div @click="arrowUp" class="arrow prev"></div>
                    <div @click="arrowDown" class="arrow next"></div>
                </div>
           </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>